<div id="js-loadMore-juicy-projects" class="cbp-l-loadMore-button">
    <a href="<%= load_more_path %>" class="cbp-l-loadMore-link" rel="nofollow">
        <span class="cbp-l-loadMore-defaultText">LOAD MORE</span>
        <span class="cbp-l-loadMore-loadingText">LOADING...</span>
        <span class="cbp-l-loadMore-noMoreLoading">NO MORE WORKS</span>
    </a>
</div>