<% provide(:title , 'Events Today' ) %>

<div class="pull-right">
	<%= render :partial=> 'explorer/shared/social_share' %>
</div>

<h2>Events this day
	<%= render :partial=> 'explorer/shared/toggle_nav' %>
</h2>
<%# render :partial=> 'explorer/shared/cats' %>
<h3> <%= @start_time.strftime('%A') %></h3>

<div id="js-grid-juicy-projects" class="cbp">
	<%= render :partial=> 'explorer/shared/event_loop' %>
</div>

