<% provide(:title , 'Events This Month' ) %>

<div class="pull-right">
	<%= render :partial=> 'explorer/shared/social_share' %>
</div>

<h2>Events this month
	<%= render :partial=> 'explorer/shared/toggle_nav' %>
</h2>
<%# render :partial=> 'explorer/shared/cats' %>

<div id="js-grid-juicy-projects" class="cbp">
	<%= render :partial=> 'explorer/shared/event_loop' %>
</div>



