<% provide(:title , 'Events This Week' ) %>

	<div class="pull-right">
		<%= render :partial=> 'shared/social_share' %>
	</div>


<h2>Events this week
	<%= render :partial=> 'shared/toggle_nav' %>
</h2>
<%= render :partial=> 'shared/cats' %>

<div id="js-grid-juicy-projects" class="cbp">
	<%= render :partial=> 'shared/event_loop' %>
</div>

