<% provide(:title , 'Venue List' ) %>
<% content_for :map do %>
  <div style='width: 100%;' class="map-holder">
    <div id="map" style='width: 100%; height: 400px;'></div>
  </div>
   <script type="text/javascript">
      handler = Gmaps.build('Google');
      handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
         markers = handler.addMarkers(<%=raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
         handler.getMap().setZoom(4)
      });
    </script>
  <% end %>
<% @venues.each do |v| %>
	<%= v.name %>
<% end %>