<% provide(:title , 'Add Venue' ) %>

<div class="submission-form">
	<div class="container">
		<h2> Add a new venue</h2>
	</div>

	<%= render 'shared/error_messages', :object => @venue %>
	<%= simple_form_for(@venue) do |ff| %>
		<%= render :partial=> 'form', :locals=>{ff:ff} %>
		<%= ff.submit 'Add Venue', :class=>'btn btn-success btn-lg btn-block'  %>
	<% end %>
</div>