<% provide(:page_title, 'Edit Category') %>

<div class="col-md-8 col-md-offset-2">
	<h1>Edit category</h1>
	<%= render partial: 'form' %>
	<% if can? :delete, @category %>
		<%= link_to 'Delete', category_path(@category), method: :delete, data: { confirm: 'Are you sure?' } %>
	<% end %>
</div>
