<div class="col-md-8 col-md-offset-2">
	<h2 class="text-center">Black Tech Community Navigator Coming Soon!</h2>
	<hr/>
	<p class="lead">
		Our goal is to make it easier to discover black tech events while providing promotional support for organizations that support black tech community.
	</p>
	<p class="lead">
		Join us for a Summer of Black Tech as we highlight events for blacks in technology. Tweet event updates to <strong>@techwhileblack</strong> or use <strong>#SoBlkTech</strong>.
	</p>
	<div class="row">
		<hr/>
		<div class="col-md-6">
			<div class="page">
				<h3 class="page-header">For Organizers</h3>
				<p class="lead">Add your organization and start promoting your events.</p>
				<hr/>
				<%= link_to 'Create profile and add events', new_event_path, :class=>'btn btn-primary btn-block btn-lg' %>
			</div>
		</div>
		<div class="col-md-6">
			<div class="page">
				<h3 class="page-header">For Techies</h3>
				<p class="lead">Participating organizers and their events are coming soon.</p>
				<hr/>
				<%= link_to 'Notify me when available', 'https://techwhileblack.com/newsletter', :class=>'btn btn-primary btn-block btn-lg' %>
			</div>
		</div>
	</div>
</div>