<% provide(:title , 'Add Listing' ) %>

<div class="col-md-4 col-md-offset-4">
	<h1>Add new listing</h1>
	<hr/>
	<%= simple_form_for @listing, :html => {:multipart => true} do |f| %>	
		<%= render :partial=> 'form', :locals=>{f: f} %>
		<hr/>
		<%= f.submit 'Add Listing', :class=>'btn btn-primary btn-block' %>
	<% end %>
</div>